<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.reactboard.Board.mapper.BoardMapper">
    <select id="getBoardList" resultType="kr.co.reactboard.Board.dto.Board">
        SELECT * FROM BOARD
    </select>

    <select id="getBoard" resultType="kr.co.reactboard.Board.dto.Board">
        SELECT * FROM BOARD
        WHERE ID = #{id}
    </select>
</mapper>